@layer utilities {
  .glass-panel {
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 1px solid rgba(255, 255, 255, 0.8);
  }

  .radial-gradient-bg {
    position: relative;
    background:
      radial-gradient(
        700px 380px at 50% 85%,
        rgba(230, 230, 230, 0.95) 0%,
        rgba(204, 204, 204, 0.35) 30%,
        rgba(245, 247, 251, 0) 72%
      ),
      radial-gradient(
        1200px 900px at 50% 58%,
        rgba(48, 48, 48, 0.1) 0%,
        rgba(22, 22, 22, 0) 62%
      ),
      radial-gradient(
        900px 650px at 50% 95%,
        rgba(16, 16, 16, 0.1) 0%,
        rgba(0, 0, 0, 0) 55%
      ),
      linear-gradient(180deg, #232323 0%, #494949 40%, #3c3c3c 100%);
  }

  /* .radial-gradient-bg::after {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(
      1200px 800px at 50% 50%,
      rgba(0, 0, 0, 0) 55%,
      rgba(0, 0, 0, 0.07) 100%
    );
    pointer-events: none;
  } */

  .text-shadow-sm {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
}
