.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.card-hover:hover .customize-btn {
  opacity: 1;
  transform: translateY(0);
}

.card-hover:hover .shoe-img {
  transform: scale(1.05);
}

details > summary::-webkit-details-marker {
  display: none;
}
